@if(message){
<div class="user-message user-message--error my-3">
    <span>{{ message }}</span>
</div>
}
<form class="login-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    @if(passwordChange){
    <div class="form-control">
        <label for="password">Password</label>
        <input (blur)="invalidEmail()" type="password" name="password" id="password"
            [formControl]="formControls.password" [ngClass]="{'is-invalid': invalidMessage}">
        @if(invalidMessage){
        <div class="position-relative">
            <p class="error-msg">{{ invalidMessage }}</p>
        </div>
        }
    </div>
    }
    @else {
    <div class="form-control">
        <label for="email">Email</label>
        <input (blur)="invalidEmail()" type="text" name="email" id="email" [formControl]="formControls.email"
            [ngClass]="{'is-invalid': invalidMessage}">
        @if(invalidMessage){
        <div class="position-relative">
            <p class="error-msg">{{ invalidMessage }}</p>
        </div>
        }
    </div>
    }
    <button class="btn" type="submit">{{ passwordChange ? 'Update' : 'Send' }}</button>

    <div class="mt-4">
        <span class="me-1">Back to</span>
        <span class="text-primary link" routerLink="/login">Login</span>
    </div>
</form>